setuptools>=70.0.0
wheel>=0.44.0
streamlit==1.48.0
pandas>=2.2.2
numpy>=1.26.4
scikit-learn==1.5.2
sqlalchemy==2.0.43
mysql-connector-python==9.4.0
matplotlib==3.10.0
seaborn==0.13.2
bcrypt==4.3.0
requests==2.32.4

